*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100dvw;
    height: 100svh;
    background: url(../img/defaultBg2.jpg) center center/cover;
    filter: saturate(0.5);
    opacity: 0.8;
}